<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!-- <date></date>
  <app-hello-world></app-hello-world> -->

<!-- <img src ='==='> we pass this image src path then we use it in the same way we have to pass the data in address 
component using attribute for more details see 13 Angular javabrains-->
  <!-- <address name="New Name" foo = "as" bar="baz"></address> -->
  <!-- here we can have buch of attributes -->
  <!-- <address name="New Name"></address> -->
  <address [ser]=user></address>

  <app-view-component></app-view-component>

</div>

